/* Reset default margins and padding on all elements */
* {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

/* Variables for colors and fonts */
:root {
    --primary-color: #ffffff; /* Main background color */
    --secondary-color: #333; /* Secondary color for headers and footers */
    --third-color: #ddd; /* Color for borders and backgrounds */
    --fourth-colour: #444; /* Navigation bar background color */
    --text-colour: #ffffff; /* Main text color */
    --secondText-colour: #000000; /* Secondary text color */
    --font-family: 'Arial', sans-serif; /* Default font family */
    --font-size: 16px; /* Base font size */
}

/* Flex container for main content */
.container {
    display: flex; /* Use flexbox layout */
}

/* SIDE-PANEL */
.side-panel h2 {
    color: #61dafb; /* Customize heading color */
}

#sidebar-active {
    display: none; /* Hide sidebar by default */
}

.open-sidebar-button,
.close-sidebar-button {
    display: none; /* Hide sidebar control buttons by default */
}

/* Sidebar navigation */
.side-nav {
    width: 110px; /* Set width of sidebar */
    height: 100%; /* Full height of the viewport */
    position: fixed; /* Fix sidebar to the left */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    padding: 2px; /* Padding inside the sidebar */
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
    backdrop-filter: blur(5px); /* Blur effect */
    display: flex; /* Use flexbox layout */
    justify-content: space-between; /* Distribute space between elements */
    flex-direction: column; /* Arrange items vertically */
    text-align: left; /* Left-align text */
    margin: 0; /* Remove default margin */
    color: #000000; /* Text color */
    transition: width 0.5s, background 0.5s ease-in-out; /* Smooth transition for width and background */
}

/* Section heading text title inside the sidebar */
.section-heading-text-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    opacity: 0;
    transform: translateY(10px);
    animation: fadeInUp 1s ease-out forwards;
}



/* Links inside the sidebar */
.side-nav a {
    color: #000000; /* Link text color */
    text-decoration: none; /* Remove underline from links */
    font-family: monospace; /* Use monospace font */
}

/* User info in the sidebar */
.user {
    display: flex; /* Use flexbox layout */
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Space between user info elements */
    width: 60px; /* Set width of user info */
    font-size: 12px; /* Set font size */
    padding: 10px; /* Padding around user info */
    border-radius: 8px; /* Rounded corners */
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
}

.user div {
    display: none; /* Hide additional user info by default */
}

.user h2 {
    font-size: 15px; /* Font size for user name */
    font-weight: 600; /* Bold font */
    white-space: nowrap; /* Prevent line break */
}

.user-img {
    width: 40px; /* Width of user image */
    border-radius: 50%; /* Circular image */
    margin: auto; /* Center image */
}

.star-img {
    width: 10px; /* Width of star image */
    display: none; /* Hide star image by default */
}

/* Unordered list styling */
ul {
    list-style: none; /* Remove default list styling */
    padding: 0 15px; /* Padding inside the list */
}

ul li {
    margin: 28px 0; /* Space between list items */
    display: flex; /* Use flexbox layout */
    align-items: center; /* Align items vertically */
    justify-content: center; /* Center items horizontally */
    cursor: pointer; /* Pointer cursor on hover */
}

ul li img {
    width: 30px; /* Width of images in list items */
    margin-right: 10px; /* Space to the right of images */
    margin-bottom: 10px; /* Space below images */
}

ul li a {
    white-space: nowrap; /* Prevent line break */
    display: none; /* Hide links by default */
}

/* Hover effect for sidebar */
.side-nav:hover {
    width: 180px; /* Expand width on hover */
    background-color: rgba(0, 0, 0, 0.078); /* Darker background */
    backdrop-filter: blur(100px); /* Stronger blur effect */
}

/* Display additional user info on hover */
.side-nav:hover .user div {
    display: block; /* Show additional user info */
}

/* Display star image on hover */
.side-nav:hover .star-img {
    display: block; /* Show star image */
}

/* Adjust user image margin on hover */
.side-nav:hover .user-img {
    margin: 0; /* Remove margin */
}

/* Display list item links on hover */
.side-nav:hover ul li a {
    display: block; /* Show links */
}

/* Adjust list item image margin on hover */
.side-nav:hover ul li img {
    margin-right: 10px; /* Space to the right of images */
}

/* Align list items to the left on hover */
.side-nav:hover ul li {
    justify-content: flex-start; /* Align items to the start */
}

/* Adjust user info styling on hover */
.side-nav:hover .user {
    width: 100%; /* Full width */
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
    backdrop-filter: blur(5px); /* Blur effect */
}

/* Main content styling */
main {
    flex: 1; /* Allow main content to grow and fill space */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 20px; /* Padding around main content */
}

/* Base styling for the page */
body {
    font-family: Arial, sans-serif; /* Default font family */
    background-color: var(--primary-color); /* Background color from variable */
}

/* Image size styling */
.Image1 {
    width: 400px; /* Set width of image */
    height: auto; /* Maintain aspect ratio */
}

/* Paragraph styling */
p {
    font-family: monospace; /* Monospace font for paragraphs */
}

/* Header styling */
header {
    background-color: var(--secondary-color); /* Background color from variable */
    color: var(--text-colour); /* Text color from variable */
    text-align: center; /* Center-align text */
    padding: 20px; /* Padding around header */
    height: 83px; /* Set height of header */
}

/* H1 styling inside header */
header h1 {
    font-size: 36px; /* Font size for H1 */
    font-family: monospace; /* Monospace font for H1 */
}

h2 {
    font-family: monospace; /* Monospace font for H2 */
    font-size: 30px; /* Font size for H2 */
}

/* Navigation styling */
nav {
    background-color: var(--fourth-colour); /* Background color from variable */
    text-align: center; /* Center-align text */
    padding: 10px; /* Padding around navigation */
    font-family: monospace; /* Monospace font for navigation */
    font-size: large; /* Large font size */
}

/* Link styling inside navigation */
nav a {
    color: var(--text-colour); /* Link text color from variable */
    text-decoration: none; /* Remove underline from links */
    margin: 10px; /* Margin around links */
}

/* Link hover effect inside navigation */
nav a:hover {
    text-decoration: underline; /* Underline on hover */
}

/* Image slideshow container styling */
.slideshow-container {
    max-width: 600px; /* Maximum width */
    position: relative; /* Relative positioning */
    margin: auto; /* Center horizontally */
}

.slideshow-container img {
    width: 100%; /* Full width */
    height: auto; /* Maintain aspect ratio */
}

/* Previous and next button styling for slideshow */
.prev, .next {
    cursor: pointer; /* Pointer cursor on hover */
    position: absolute; /* Absolute positioning */
    top: 50%; /* Center vertically */
    width: auto; /* Auto width */
    padding: 16px; /* Padding inside buttons */
    margin-top: -22px; /* Negative top margin */
    color: white; /* White text color */
    font-weight: bold; /* Bold font */
    font-size: 18px; /* Font size */
    transition: 0.6s ease; /* Smooth transition */
    border-radius: 0 3px 3px 0; /* Rounded corners */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

/* Next button positioning */
.next {
    right: 0; /* Align to the right */
    border-radius: 3px 0 0 3px; /* Rounded corners */
}

/* Hover effect for previous and next buttons */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Darker background on hover */
}

/* Article image styling */
.article-img {
    transition: transform 0.5s ease; /* Smooth transition for transform */
    border-radius: 15px; /* Rounded corners */
}

.article-img:hover {
    transform: scale(0.99); /* Slightly scale down on hover */
}

/* Form styling */
form {
    margin: 20px; /* Margin around form */
    padding: 50px; /* Padding inside form */
    padding-left: 75px; /* Extra padding on the left */
    border: 1px solid var(--third-color); /* Border color from variable */
    border-radius: 5px; /* Rounded corners */
}

/* Input fields, textareas, and select boxes styling */
input[type="text"],
textarea,
select {
    width: 100%; /* Full width */
    padding: 10px; /* Padding inside fields */
    margin: 5px 0; /* Margin around fields */
    border: 1px solid #ccc; /* Border color */
    border-radius: 3px; /* Rounded corners */
}

/* Checkbox and radio buttons styling */
input[type="checkbox"],
input[type="radio"] {
    margin-right: 5px; /* Space to the right */
}

/* Article styling */
article {
    text-align: center; /* Center-align text */
    margin: 20px; /* Margin around article */
    padding: 10px; /* Padding inside article */
    border: 1px solid var(--third-color); /* Border color from variable */
    background-color: var(--third-color); /* Background color from variable */
    border-radius: 5px; /* Rounded corners */
}

article p {
    color: var(--secondText-colour); /* Text color from variable */
}

.article-img {
    max-width: 100%; /* Full width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 20px; /* Rounded corners */
    transition: transform 0.3s ease; /* Smooth transition for transform */
}

.article-img:hover {
    transform: scale(1.01); /* Slightly scale up on hover */
}

/* Centered container styling */
.centered-container {
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    height: 50vh; /* Set height */
}

/* Slideshow image styling */
.slideshow-img {
    border-radius: 20px; /* Rounded corners */
    transition: transform 0.3s ease; /* Smooth transition for transform */
}

.slideshow-img:hover {
    transform: scale(1.01); /* Slightly scale up on hover */
}

/* Video styling */
video {
    width: 100%; /* Full width */
}

/* Iframe styling */
iframe {
    width: 100%; /* Full width */
}

/* Image styling */
img {
    max-width: 100%; /* Full width */
}

/* Footer styling */
footer {
    background-color: var(--secondary-color); /* Background color from variable */
    color: var(--text-colour); /* Text color from variable */
    text-align: center; /* Center-align text */
    padding: 10px; /* Padding around footer */
}

/* Link styling in footer */
footer a {
    text-decoration: none; /* Remove underline from links */
    margin: 0 10px; /* Margin around links */
}

/* Link hover effect in footer */
footer a:hover {
    text-decoration: underline; /* Underline on hover */
}

/* Button styling */
.button {
    background-color: black; /* Button background color */
    border: none; /* Remove border */
    color: white; /* Button text color */
    padding: 8px 16px; /* Padding inside button */
    text-align: center; /* Center-align text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Inline-block display */
    font-size: 8px; /* Font size */
    margin: 2px 1px; /* Margin around button */
    transition-duration: 0.4s; /* Smooth transition */
    cursor: pointer; /* Pointer cursor on hover */
}

/* Alternative button styling */
.buttonBlack {
    background-color: white; /* Background color */
    color: black; /* Text color */
    border: 2px solid #555555; /* Border */
}

/* Button hover effect */
.button:hover {
    background-color: #555555; /* Background color on hover */
    color: white; /* Text color on hover */
}

.fade-in {
    opacity: 0;
    animation: fadeIn ease 1s forwards;
}

/* Media queries for different screen sizes */
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Large screens */
@media (min-width: 1025px) {
    body {
        animation-name: ReverseBackgroundAnim; /* Animation name */
        animation-duration: 1s; /* Animation duration */
        animation-fill-mode: forwards; /* Animation fill mode */
    }

    @keyframes ReverseBackgroundAnim {
        from {
            background-color: grey; /* Start color */
        }
        to {
            background-color: white; /* End color */
        }
    }
}

/* Medium screens */
@media (max-width: 1024px) {
    body {
        animation-name: BackgroundAnim; /* Animation name */
        animation-duration: 1s; /* Animation duration */
        animation-fill-mode: forwards; /* Animation fill mode */
    }

    .button:hover {
        background-color: grey; /* Background color on hover */
        color: white; /* Text color on hover */
        border: 2px solid white; /* Border on hover */
    }

    @keyframes BackgroundAnim {
        from {
            background-color: white; /* Start color */
        }
        to {
            background-color: grey; /* End color */
        }
    }
}

/* Small to medium screens */
@media (min-width: 769px) and (max-width: 1024px) {
    body {
        animation-name: ReverseBackgroundAnimIphone; /* Animation name */
        animation-duration: 1s; /* Animation duration */
        animation-fill-mode: forwards; /* Animation fill mode */
    }

    @keyframes ReverseBackgroundAnimIphone {
        from {
            background-color: rgb(61, 61, 61); /* Start color */
        }
        to {
            background-color: grey; /* End color */
        }
    }
}

/* Small screens */
@media (max-width: 768px) {
    body {
        animation-name: BackgroundAnimIphone; /* Animation name */
        animation-duration: 1s; /* Animation duration */
        animation-fill-mode: forwards; /* Animation fill mode */
    }

    .links-container {
        display: flex; /* Use flexbox layout */
        flex-direction: column; /* Arrange items vertically */
        align-items: center; /* Center items horizontally */
        position: fixed; /* Fixed position */
        top: 0; /* Align to the top */
        right: -100%; /* Position offscreen to the right */
        z-index: 10; /* Layer above other elements */
        width: 300px; /* Set width */
        height: 100%; /* Full height */
        background-color: #000000; /* Background color */
        transition: 0.75s ease-out; /* Smooth transition */
    }

    .links-container a {
        padding: 20px; /* Padding around links */
        font-size: 20px; /* Font size */
    }

    .links-container:hover {
        background-color: rgb(65, 65, 65); /* Darker background on hover */
        padding-top: 10px; /* Padding at the top */
    }

    .open-sidebar-button,
    .close-sidebar-button {
        display: block; /* Display sidebar control buttons */
    }

    #sidebar-active:checked ~ .links-container {
        right: 0; /* Position onscreen */
    }

    #sidebar-active:checked ~ #overlay {
        height: 100%; /* Full height */
        width: 100%; /* Full width */
        position: fixed; /* Fixed position */
        top: 0; /* Align to the top */
        left: 0; /* Align to the left */
        z-index: 9; /* Layer below sidebar */
    }

    .side-nav {
        display: none; /* Hide sidebar */
    }

    .formTexts {
        color: white; /* Text color */
    }

    .button {
        background-color: rgb(255, 255, 255); /* Button background color */
        border: none; /* Remove border */
        color: rgb(0, 0, 0); /* Button text color */
        padding: 8px 16px; /* Padding inside button */
        text-align: center; /* Center-align text */
        text-decoration: none; /* Remove underline */
        display: inline-block; /* Inline-block display */
        font-size: 8px; /* Font size */
        margin: 2px 1px; /* Margin around button */
        transition-duration: 0.4s; /* Smooth transition */
        cursor: pointer; /* Pointer cursor on hover */
    }

    .buttonBlack {
        background-color: rgb(72, 72, 72); /* Button background color */
        color: rgb(255, 255, 255); /* Button text color */
        border: 2px solid #ffffff; /* Border */
    }

    .button:hover {
        background-color: #ffffff; /* Background color on hover */
        color: rgb(72, 72, 72); /* Text color on hover */
        border: 2px solid black; /* Border on hover */
    }
    

    @keyframes BackgroundAnimIphone {
        from {
            background-color: grey; /* Start color */
        }
        to {
            background-color: rgb(61, 61, 61); /* End color */
        }
        
    }
}